h1{
   text-align: center; /*ทำให้ตัวอักษรอยู่ตรงกลาง*/
    font-size: 170px;
     font-style: oblique;
     text-transform: uppercase;
     color: red;
    text-shadow: 5px 10px 20px  red;

}
div{
    
    padding-bottom: 1px; /*ขยายให้ออกห่างจาก element ภายใน*/
     margin-left: 450px;
     margin-right: 450px;
    
    
}
body{
    background-color: black;
  
}
ิีิี.restart{
    text-align: center;
  
}

h4{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;  
    color: greenyellow;
    box-shadow: 15px 5px 20px 0px rgb(200, 255, 00);
    text-align: center;
    
}
.text-container h1{
    text-shadow:0 0 10px red;   
  }
